<%= render partial: '/partials/navbar' %>
<div class="container d-flex flex-column ">
    <div class="float-left">
     <%= link_to "Add Food", foods_new_path, class: "m-3 btn btn-primary" %>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Food</th>
            <th scope="col">Measurement unit</th>
            <th scope="col">Unit price</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <% @foods.each_with_index do |food,id| %>
            <tbody>
                <tr>
                    <th scope="row"><%= id %></th>
                    <td><%= food.name %></td>
                    <td><%= food.meadurement_unit%></td>
                    <td><%= food.price %>$</td>
                    <td><%= button_to "Delete", method: :delete,class:"btn btn-light rounded-6" %></td>
                </tr>
            </tbody>
            <%=  %>
        <% end %>
    </table>
</div>